{% extends 'base.html' %}

{% block body %}

    <h1> This is my Flask server! </h1>

    <img src="{{url_for('static', filename='images/flask.jpg') }}"/>

<form  method="post">
  <table>
    <tr>
      <td> Loan Payment: </td> <td> <input type="text" name="A" /> </td>
    </tr>
    <tr>
      <td> Length of the Loan: </td> <td> <input type="text" name="N" /> </td>
    </tr>
    <tr>
      <td> Interest rate: </td> <td> <input type="text" name="i" /> </td>
    </tr>
  </table>
    <br>
  <input class="button" type="submit" formaction="/Divide" value="Divide Them!"/>
</form>

<p> {{ display }} </p>
<div style=clear:both;"></div>
{% endblock %}
