{% extends 'base.html' %}

{% block body %}

    <h2> This is my Flask server! </h2>

    <img src="{{url_for('static', filename='images/flask.jpg') }}"/>

<form  method="post">
  <table>
    <tr>
      <td> Loan Ammount: </td> <td> <input type="text" name="A" /> </td>
    </tr>
    <tr>
    <td> Discount Factor: </td> <td> <input type="text" name="D" /> </td>
    </tr>
  </table>
    <br>
  <input class="button" type="submit" formaction="/add" value="Add Them!"/>
</form>

<p> {{ display }} </p>
<div style=clear:both;"></div>
{% endblock %}
